<h1>New Student Form</h1>

<form action = '/students/new-user' method="POST">

  <label>Name</label>
    <input type="text" name="name"><br>
  <label>quote</label>
    <input type="text" name="quote"><br>
  <label>Twitter URL</label>
    <input type="text" name="twitter_url"><br>

  <button type="submit">Go</button>

</form>
