<h1>New Student Form</h1>

<form action = '/students/new-user' method="POST">

    <label>Name</label>
    <input type="text" name="name"><br>
  <label>Profile Image Link</label>
    <input type="text" name="image_url"><br>
  <label>quote</label>
    <input type="text" name="quote"><br>
  <label>Twitter URL</label>
    <input type="text" name="twitter_url"><br>
  <label>Linkedin URL</label>
    <input type="text" name="linkedin_url"><br>
  <label>Github URL</label>
    <input type="text" name="github_url"><br>
  <label>Blog URL</label>
    <input type="text" name="blog_url"><br>
  <label>Treehouse URL</label>
    <input type="text" name="treehouse_url"><br>
  <label>Codeschool URL</label>
    <input type="text" name="codeschool_url"><br>
  <label>Coderwall URL</label>
    <input type="text" name="coderwall_url"><br>

  <button type="submit">Go</button>

</form>
